body{
    margin: 0;
    padding: 0;
}
h1, p{
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 0;
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    /* background-color: wheat; */
    height: 1100px;
    width: 100%;
}
#icon{
    display:flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    margin: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
}
#icon img{
    margin: 25px 0 50px 0;
}
#slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}
#slider p{
    color:white;
    width: 45%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
    /* margin: 0 0 30px 0; */
}
#slider h1{
    font-family: 'Inter-ExtraBold', sans-serif;
    color:white;
    font-size: 50px;
    margin: 100px 0 30px 0;
    text-transform: uppercase;
}
header button{
    text-transform: uppercase;
    padding: 15px 70px 15px 70px;
    border-radius: 40px;
    font-weight: bold;
    border-style: none;
}
.services{
    padding-left: 20%;
    padding-right: 20%;
    position: relative;
    top: -120px;
}

.services img{
    width: 200px;
}

.blokas{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blokas button{
    margin: 15px 0 15px 0;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Poppins-Bold', sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 0;
}
.blokai{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;

}
.blokai :nth-child(1) button{
    background-color:mediumblue;
}
.blokai :nth-child(2) button{
    background-color:black;
}
.blokai :nth-child(3) button{
    background-color:mediumblue;
}
.row h2{
    margin-top: 150px;
}
.row p{
    margin:50px 0 50px 0;
}
.row button{
    border-radius: 50px;
    padding: 10px 40px 10px 40px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.services_img{
    padding: 0;
    background-image: url("../images/blog-bg.png");
    /* background-color: wheat; */
    height: 1250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services_img h2{
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.services_img p{
    color: white;
    margin: 50px 0 100px 0;
}
.services_img button{
    font-size: 30px;
    color: white;
}