body{
    margin: 0;
    padding: 0;
}
h1, p{
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 0;
    background-image: url("../images/banner-bg.png");
    background-size: cover;
    background-color: wheat;
    height: 1100px;
    width: 100%;
}
#icon{
    display:flex;
    justify-content: center;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul li{
    margin: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
}
#icon img{
    margin: 25px 0 50px 0;
}
#slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 50%; */
}
#slider p{
    color:white;
    width: 45%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 60px;
    /* margin: 0 0 30px 0; */
}
#slider h1{
    font-family: 'Inter-ExtraBold', sans-serif;
    color:white;
    font-size: 50px;
    margin: 100px 0 30px 0;
    text-transform: uppercase;
}
header button{
    text-transform: uppercase;
    padding: 15px 70px 15px 70px;
    border-radius: 40px;
    font-weight: bold;
    border-style: none;
}
.services{
    padding-left: 20%;
    padding-right: 20%;
}

.services img{
    width: 200px;
}